@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 100;
  src: url('./../../../../gym-project/public/fonts/oswald-font/Oswald-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('./../../../../gym-project/public/fonts/oswald-font/Oswald-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('./../../../../gym-project/public/fonts/oswald-font/Oswald-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('./../../../../gym-project/public/fonts/oswald-font/Oswald-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('./../../../../gym-project/public/fonts/oswald-font/Oswald-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('./../../../../gym-project/public/fonts/oswald-font/Oswald-Bold.woff2') format('woff2');
}



// Muli Fonts
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 100;
  src: url('./../../../../gym-project/public/fonts/muli-font/Muli-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 200;
  src: url('./../../../../gym-project/public/fonts/muli-font/Muli-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('./../../../../gym-project/public/fonts/muli-font/Muli.woff2') format('woff2');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  src: url('./../../../../gym-project/public/fonts/muli-font/Muli-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('./../../../../gym-project/public/fonts/muli-font/Muli-Bold.woff2') format('woff2');
}