@use './variables' as *;
@use './mixin' as *;

.button {
    @include button;

    &-primary {
        @include button(primary);
    }

    &-secondary {
        @include button(secondary);
    }

    &-outline-primary {
        @include button(outline-primary);
    }

    &-outline-secondary {
        @include button(outline-secondary);
    }

    &-disabled {
        @include button(disabled);
    }


}



.heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $primary;
        left: 0;
        bottom: 0;
    }
}

.primary-heading {
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 10px;
}

.primary-subheading {
    color: $white;
    margin-bottom: 45px;
}

.font-semibold {
    font-weight: 600;
}

.container {
    max-width: 1320px;

    @include media-breakpoint-down-xxl {
        max-width: 1140px;
    }

    @include media-breakpoint-down-xl {
        max-width: 960px;
    }

    @include media-breakpoint-down-lg {
        max-width: 720px;
    }

    @include media-breakpoint-down-md {
        max-width: 540px;
    }

    @include media-breakpoint-down-sm {
        max-width: 100%;
    }
}

