@use './variables' as *;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 991px,
    xl: 1200px,
    xxl: 1640px,
);


@mixin media-breakpoint-down-xxl {
    @media (max-width: 1640px) {
        @content;
    }
 }
@mixin media-breakpoint-down-forLaptop {
    @media (max-width: 1400px) {
        @content;
    }
 }
@mixin media-breakpoint-down-xl {
    @media (max-width: 1200px) {
        @content;
    }
 }
@mixin media-breakpoint-down-lg {
    @media (max-width: 991px) {
        @content;
    }
 }
@mixin media-breakpoint-down-md {
    @media (max-width: 768px) {
        @content;
    }
 }
@mixin media-breakpoint-down-sm {
    @media (max-width: 575px) {
        @content;
    }
 }



 
 @mixin button($style: "") {
    display: inline-block;
    cursor: pointer;
    color: $white;
    line-height: normal;
    letter-spacing: 1px;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 30px 16px;
    transition: all .3s ease;
    position: relative;
    border-radius: 0;
    min-height: 38px;
    border: 0;
    box-shadow: none; 
    align-content: center;
    outline: none;
    border-radius: 0;
    background-color: transparent;
   

    @if $style ==primary {
        background-color: $primary;
        border-color: $primary;

        &:hover, &:active, &:not(:disabled):not(.disabled):active {
            background-color: $primary;
            border-color: $primary;
            color: $white;
        }
    }

    // @if $style ==secondary {
    //     background-color: $secondary;
    //     border-color: $darksecondary;

    //     &:hover, &:active, &:not(:disabled):not(.disabled):active   {
    //         background-color: $darksecondary;
    //         border-color: $secondary;
    //         color: $white;
    //     }
    // }
    

    @if $style ==outline-primary {        
        border:1px solid $primary;
        color:$white;
        &:hover, &:active, &:not(:disabled):not(.disabled):active   {
            background-color: $primary;
            border-color: $primary; 
            color: $white;
        }
    }
    // @if $style ==outline-secondary {        
    //     border:1px solid $secondary;
    //     color:$secondary;
    //     background-color: transparent;
    //     &:hover, &:active, &:not(:disabled):not(.disabled):active   {
    //         background-color: $darksecondary;
    //         border-color: $secondary; 
    //         color: $white;
    //     }
    // }
 

    &:focus,
    &:active {
        box-shadow: none;
        outline: none;
    }

    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
    }
}