// colors

$primary: #f36100;
$white: #ffffff;
$black: #000000;
$dark-black: #212529;
$night-black: #151515;
$black-main: #252525;
$dim-black: #0a0a0a;
$gray:#a9a9a9;
$gray1:#c4c4c4;
$gray2:#363636;
$gray3: #999999;
$gray4: #4d4d4d;
$gray5: #1a1a1a;
$gray-night: #464646;