@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.our-team-page {
    .main-image-section {
        position: relative;

        img {
            min-height: 340px;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-down-lg {
                min-height: 180px;
                object-fit: cover;
            }
        }

        .main-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-down-md {
                left: 20px;
                transform: translate(-0%, -50%);
            }

            h1 {
                font-size: 60px;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;

                @include media-breakpoint-down-xxl {
                    font-size: 50px;
                }

                @include media-breakpoint-down-lg {
                    font-size: 30px;
                }
            }
        }
    }

    .our-team {
        background-color: $night-black;
        padding-block: 100px;

        @include media-breakpoint-down-lg {
            padding-block: 50px;
        }

        .row {
            gap: 20px 0px;

        }

        .classes-card {
            background-color: $dim-black;
            overflow: hidden;
            border: 1px solid $gray2;
            transition: 0.3s;
            height: 100%;
            position: relative;

            .image {
                img {
                    transition: 0.5s;
                    width: 100%;
                }
            }

            .card-content {
                padding: 30px;
                position: relative;
                z-index: 1;
                position: absolute;
                width: 100%;
                bottom: -500px;
                transition: 0.5s;
                background-color: $dim-black;

                @include media-breakpoint-down-lg {
                    padding: 10px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: -5px;
                    top: -44px;
                    height: 90px;
                    width: 900px;
                    border-top: 4px solid $gray-night;
                    background: $dim-black;
                    transform: rotate(-5deg);
                    z-index: -1;
                    transition: 0s;
                }

                .left-content {
                    text-align: center;

                    h6 {
                        color: $primary;
                        font-size: 34px;
                    }

                    h3 {
                        color: $white;
                        text-transform: uppercase;
                        font-size: 16px;
                        margin-top: 10px;

                        @include media-breakpoint-down-lg {
                            font-size: 11px;
                        }
                    }
                }

            }

            &.classes-card {
                &:hover {
                    .image {
                        img {
                            // scale: 1.3;
                            object-position: top;
                        }
                    }

                    .card-content {
                        bottom: 0px;

                    }

                }
            }
        }
    }

}