@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.services-page {
    .main-image-section {
        position: relative;

        img {
            min-height: 340px;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-down-lg {
                min-height: 180px;
                object-fit: cover;
            }
        }

        .main-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-down-md {
                left: 20px;
                transform: translate(-0%, -50%);
            }

            h1 {
                font-size: 60px;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;

                @include media-breakpoint-down-xxl {
                    font-size: 50px;
                }

                @include media-breakpoint-down-lg {
                    font-size: 30px;
                }
            }
        }
    }

    .what-we-do {
        background-color: $night-black;
        padding-block: 100px;

        .container {
            text-align: center;
        }

        .grid-details {
            display: grid;
            grid-template-columns: auto auto auto auto;

            @include media-breakpoint-down-xl {
                grid-template-columns: auto auto;
                gap: 10px 0;
            }

            @include media-breakpoint-down-md {
                grid-template-columns: auto;
                gap: 10px 0;
            }

            img {
                width: 100%;
            }

            h5 {
                color: $white;
                font-weight: 700;
                font-family: 'Oswald';
                margin-bottom: 10px;

                @include media-breakpoint-down-xxl {
                    font-size: 15px;
                }
            }

            a {
                color: $white;
                text-transform: uppercase;
                font-weight: 500;

                @include media-breakpoint-down-xxl {
                    font-size: 11px;
                }
            }

            p {
                margin-bottom: 10px;
                font-weight: 100;
                font-size: 14px;

                @include media-breakpoint-down-xxl {
                    font-size: 11px;
                }
            }

            .service-content {
                background-color: $black-main;
                align-content: center;
                padding: 30px;
                text-align: left;
                transition: 0.5s;

                &:hover {
                    background-color: $gray2;

                    a {
                        color: $primary;
                    }
                }
            }
        }
    }

    .appointment {
        position: relative;

        .appointment-image {
            img {
                object-fit: cover;
                height: 550px;
            }
        }

        .appointment-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h2 {
                font-size: 48px;
                color: $white;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 25px;
                line-height: normal;
            }

            h4 {
                font-size: 20px;
                color: $gray1;
                font-family: 'Muli';
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-bottom: 45px;
                line-height: normal;
            }
        }
    }

    .our-plans {
        background-color: $night-black;
        text-align: center;
        padding-block: 100px;


        .plan-card {
            padding: 40px 30px 52px;
            transform: skewY(-4deg);
            border: 1px solid $gray-night;
            transition: all 0.5s;
            margin-bottom: 30px;

            &:hover {
                background-color: $white;

                h4,
                h6,
                ul li p {
                    color: $black;
                }
            }

            h4 {
                font-size: 28px;
                color: $white;
                font-weight: 600;
                margin-bottom: 16px;
                transform: skewY(4deg);
                line-height: normal;
            }

            h2 {
                transform: skewY(4deg);
                font-size: 60px;
                color: #f36100;
                font-weight: 600;
                line-height: normal;
            }

            h6 {
                transform: skewY(4deg);
                color: $gray1;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: normal;
            }

            ul {
                transform: skewY(4deg);
                list-style: none;
                padding: 0;
                margin: 20px 0;

                li {
                    color: $gray1;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 10px;

                    p {
                        line-height: normal;
                    }
                }
            }

            .action {
                transform: skewY(4deg);

                a {
                    width: 100%;
                }
            }
        }
    }
}