@use '../../../styles/components/variables' as *;
@use '../../../styles/components/mixin' as *;

.connect-map {
    background-color: $night-black;
    padding-block: 20px;

    .embed-map-responsive {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 41.6666666667%;

        .embed-map-container {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;

            .embed-map-frame {
                width: 100% !important;
                height: 100% !important;
                position: absolute;
                inset: 0;
                border: 0;
            }
        }
    }
}