@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.about-us {
    .main-image-section {
        position: relative;

        img {
            min-height: 340px;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-down-lg {
                min-height: 180px;
                object-fit: cover;
            }
        }

        .main-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 60px;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;

                @include media-breakpoint-down-xxl {
                    font-size: 50px;
                }

                @include media-breakpoint-down-lg {
                    font-size: 30px;
                }
            }
        }
    }

    .what-we-done {
        background-color: $black;

        @include media-breakpoint-down-lg {
            padding-top: 20px;
        }

        .what-we-done-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include media-breakpoint-down-lg {
                padding: 20px;
            }

            p {
                color: $white;
            }
        }
    }
}