@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.classes-page {
    .main-image-section {
        position: relative;

        img {
            min-height: 340px;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-down-lg {
                min-height: 180px;
                object-fit: cover;
            }
        }

        .main-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-down-md {
                left: 20px;
                transform: translate(-0%, -50%);
            }

            h1 {
                font-size: 60px;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;

                @include media-breakpoint-down-xxl {
                    font-size: 50px;
                }

                @include media-breakpoint-down-lg {
                    font-size: 30px;
                }
            }
        }
    }

    .classes-detail {
        background-color: $night-black;
        padding-block: 100px;

        span,
        h6,
        a {
            color: $white;
            font-family: 'Muli';
            color: $gray1;
            font-size: 14px;
            line-height: 40px;
        }

        .left-content {
            margin-top: 60px;

            .primary-subheading {
                margin-bottom: 15px;
            }
        }

        .trainer-info {
            margin-top: 30px;

            .primary-subheading {
                margin-bottom: 15px;
            }
        }


        .cat {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        display: flex;
                        justify-content: space-between;

                        &:hover {
                            color: $primary;
                        }

                        span {
                            color: inherit;
                        }
                    }
                }
            }
        }

        .latest-post {
            margin-top: 60px;

            .post-list {
                margin-top: 30px;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        display: flex;
                        gap: 15px;
                        margin-bottom: 15px;

                        .image {
                            img {
                                width: 80px;
                                height: 80px;
                                object-fit: cover;
                            }
                        }

                        .content {
                            h6 {
                                font-size: 14px;
                                color: $white;
                                font-family: 'oswald';
                                font-weight: 600;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                margin-bottom: 5px;
                                line-height: normal !important;
                            }

                            p {
                                font-size: 11px;
                                color: $gray1;
                            }
                        }
                    }
                }
            }

            .sidbar-banner {
                img {
                    width: 100%;
                }
            }
        }
    }

    .trainer-profile {
        margin-top: 50px;

        .trainer-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .top-name-section {
                .name {
                    .secondary-heading {
                        margin-bottom: 5px;
                    }
                }
            }

            .main-section {
                margin-top: 30px;
            }

            .age {
                ul {
                    li {
                        display: flex;
                        gap: 15px;
                        justify-content: space-between;

                        &:not(:last-child) {
                            border-bottom: 1px solid $gray2;
                            padding-block: 0;
                        }

                        .bold-label {
                            color: $white;
                            font-weight: 600;
                        }

                        span {
                            color: $gray1;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}